<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Status</title>
<style type="text/css">
span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
	<div align="center">
		<h2>Check Results</h2>
		<span> Customer eligeble ?: </span >  <span th:text="${response.isEligeble}"></span><br/>
		<span> Approved Amount ?: </span >  <span th:text="${response.approvedAmount}"></span><br/>
		<div th:if="${not #lists.isEmpty(response.criteriaMismatch)}" th:each = "crit : ${response.criteriaMismatch}">
		<span> criteria Mismatch : </span >  <span th:text="${crit}"></span><br/>
		</div>
	</div>
</body>
</html>